*{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: #f0f4ff;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    
  }
   img{
   
    width: 100px;
    height: 100px;
  } 
  .left{
    color: #ffffff;
    background-color: #287094;
  }
  h6 , span{
    line-height: 23px;
  }
  .pricipale{
    justify-content: center !important;
  }
  .progress_bar{
    line-height: 5px;
  }

  /* bar */
  .progress_bar .pro-bar {
    background: #023246;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
    height:4px;
    margin-bottom: 12px;
    margin-top: 50px;
    position: relative;
}
.progress_bar .progress_bar_title{
    color: #ffffff;
    
    position: relative;
    top: -28px;
    z-index: 1;
}
.progress_bar .progress_number{
    float: right;
    margin-top: -24px;
}
.progress_bar .progress-bar-inner {
    background-color: hsl(0, 0%, 88%);
    display: block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s linear 0s;
}
.progress_bar .progress-bar-inner:before {
    content: "";
    background-color: #023246;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    position: absolute;
    right: 1px;
    top: 0;
    z-index: 1;
}
.progress_bar .progress-bar-inner:after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: inherit;
    border-radius: 50%;
    position: absolute;
    right: -4px;
    top: -5px;
}

